@import url(reset.css);

* {
	box-sizing: border-box;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
	background: -webkit-linear-gradient(#9b9b9b, #ffffff, #9b9b9b);
	background: -o-linear-gradient(#9b9b9b, #ffffff, #9b9b9b);
	background: -moz-linear-gradient(#9b9b9b, #ffffff, #9b9b9b);
	background: linear-gradient(#9b9b9b, #ffffff, #9b9b9b);
}
nav {
	background-color: #444444;
	height: 60px;
}
#brake {
	display: none;
}
.logo {
	line-height: 60px;
	display: inline-block;
	padding-left: 15px;
	font-size: 25px;
	font-family: 'Abril Fatface', cursive;
	font-weight: bold;
	color: #FF6600;
	text-shadow: 1px 1px 2px #000000;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline-block;
	line-height: 60px;
}
nav ul li a {
	text-decoration: none;
	font-family: 'Abril Fatface', cursive;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 20px;
	padding: 10px 18px;
	background-color: #FF6600;
	color: #ffffff;
}
a:hover {
	background-color: #e85c00;
	box-shadow: 1px 1px 1px #000000;
}
a:active {
	background-color: #e85c00;
	box-shadow: -2px -2px 3px #000000;
}
.image {
	display: block;
	width: 300px;
	margin: 0 auto;
	padding-bottom: 30px;
}
h1, h2, h3, p {
	text-align: center;
	font-family: 'Arial';
}
h1, h2, h3 {
	padding-top: 20px;
	color: #FF6600;
}
h1 {
	font-size: 35px;
	font-weight: 900;
	text-shadow: 2px 2px 2px #000000;
	padding-top: 50px;
}
h2 {
	font-size: 25px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #000000;
}
p.paragraph{
	padding:30px 30px;
	line-height: 20px;
}
#contact {
	position: relative;
	height: 150px;
	text-align: center;
	font-size: 20px;
}
a {
	text-decoration: none;
}
.arrowUp {
	width: 50px;
	position: absolute;
	right: 50px;
	bottom: 50px;
}
footer {
	background-color: #444444;
	height: 60px;
	text-align: center;
}
footer .footer-name {
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	color: #FF6600;
	padding-top: 5px;
}
footer .footer-rights {
	font-size: 15px;
	color: #ffffff;
}

@media (max-width: 768px) {
	nav {
		height: 120px;
	}
	#brake {
		display: block;
	}
	.logo {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}